Basic List Operations

In [1]:
#Create a list of the first 10 natural numbers.
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#Write a program to append a number to an existing list.
x.append(11) 
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
#Insert an element at the 2nd index of a list.
x.insert(2, 99) 
print(x)

[1, 2, 99, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
#Remove the first occurrence of a specific element from a list.
x.remove(99) 
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:

#Delete the element at index 3 of a list.
del x[3]
print(x)

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11]

In [13]:
#Find the length of a list.
print(len(x))

10

In [15]:
#Check if a specific element exists in a list.
if 4 in x:
    print("Yes")
else:
    print("No")

No

In [17]:
#Pop the first element of the list
x.pop(0)  # Removes and returns the element at index 0
print(x)

[2, 3, 5, 6, 7, 8, 9, 10, 11]

In [19]:
#Check if a list is empty before performing operations.
if not x:  # Checks if the list is empty
    print("List is empty")
else:
    print("List is not empty")

List is not empty

In [21]:
#Iterate over the elements of a list.
for item in x:
    print(item)

2
3
5
6
7
8
9
10
11

In [23]:
#Find the index of an element
index_of_five = x.index(5)  
print(index_of_five)

2

In [25]:
#Count the occurrences of an element in the list.
count_of_twos = x.count(2)  # Returns the number of times 2 appears in the list
print(count_of_twos)

1

In [ ]:
'''pop(): Use when you need to remove an element and use its value later (e.g., stack operations or list manipulations).
del: Use for quick removal by index or slices, or to delete the entire list.
remove(): Use when you know the value to remove but not its index.'''

In [27]:
stack = []

# Pushing elements onto the stack
stack.append(10)
stack.append(20)
stack.append(30)

print(stack)  

# Popping elements off the stack
print(stack.pop())  
print(stack.pop())  
print(stack)

[10, 20, 30]
30
20
[10]

In [29]:
x = [1, 2, 3, 4, 5]

while x:
    print(x.pop())  # Removes and prints elements from the end

5
4
3
2
1

Indexing and Slicing

In [33]:
list1 = [10, 20, 30, 40, 50] 
list1

[10, 20, 30, 40, 50]

In [35]:
# Access first and last elements
print(list1[0])   # First element
print(list1[-1])  # Last element

10
50

In [37]:
# Extract 2nd to 5th elements
print(list1[1:5])

[20, 30, 40, 50]

In [39]:
#Reverse a list using slicing
print(list1[::-1])

[50, 40, 30, 20, 10]

In [41]:
# Get every alternate element from a list.
print(list1[::2])

[10, 30, 50]

In [43]:
# Slice a list to get all elements except the last two.
print(list1[:-2])

[10, 20, 30]

List Methods

In [45]:
thislist = [10, 20, 30, 5, 8, 3]
thislist

[10, 20, 30, 5, 8, 3]

In [49]:
# Sort a list in ascending and descending order.
thislist.sort()
print(thislist) 
thislist.sort(reverse=True)
print(thislist)

[3, 5, 8, 10, 20, 30]
[30, 20, 10, 8, 5, 3]

In [51]:
#Find the maximum and minimum values in a list.
print(max(thislist)) 
print(min(thislist))

30
3

In [53]:
# Count the occurrences of a specific element in a list.
print(thislist.count(3))

1

In [55]:
# Extend one list with another list.
list1 = [1, 2, 3]
thislist2 = [4, 5, 6]
list1.extend(thislist2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [57]:
# Clear all elements from a list.
thislist.clear()
print(thislist)

[]

List Comprehensions
Syntax: [<expression> for <variable> in <iterable>].
it's concise,readable and efficient

In [59]:
#Create a list of squares for numbers from 1 to 10.
squares=[i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
#  Generate a list of all even numbers between 1 and 20
even_Numbers=[i for i in range(1,21) if i%2==0]
print(even_Numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [63]:
# Create a list of all numbers divisible by 3 from a given range.
divisibleBy3=[i for i in range(1,21) if i%3==0]
print(divisibleBy3)

[3, 6, 9, 12, 15, 18]

In [65]:
# Convert a list of strings to uppercase.
strings = ["hello", "world", "python"]
uppercase_string=[s.upper() for s in strings]
print(uppercase_string)

['HELLO', 'WORLD', 'PYTHON']

In [67]:
# Create a list of tuples where each tuple contains a number and its cube.

number_cubes = [(i, i**3) for i in range(1, 6)]
print(number_cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


Advanced Manipulations

In [71]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [75]:
#Write a program to find the sum of all elements in a list.
print(sum(numbers))

15

In [95]:
                                  #by using functions 
def sum_of_elements(lst):
    return sum(lst)

print(sum_of_elements(numbers))

15

In [97]:
# Multiply all elements of a list by 2.
print([i * 2 for i in numbers])

[2, 4, 6, 8, 10]

In [79]:
                                      #2nd
def multiply_by_two(lst):
    return [i * 2 for i in lst]

numbers = [1, 2, 3, 4, 5]
print(multiply_by_two(numbers))

[2, 4, 6, 8, 10]

In [99]:

print(list(set(numbers)))

[1, 2, 3, 4, 5]

In [83]:

def remove_duplicates(lst):
    return list(set(lst))

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5, 6]

In [101]:
#Rotate a list to the left by one position.

print(numbers[1:] + numbers[:1])

[2, 3, 4, 5, 1]

In [103]:
numbers = [1, 2, 3, 4, 5, 6, 7]

# Exclude middle (indexes 2 to 4)
excluded = numbers[:2] + numbers[5:]
print(excluded)

[1, 2, 6, 7]

In [105]:


# Exclude middle (indexes 2 to 4)
excluded = numbers[:2] + numbers[5:]
print(excluded)

[1, 2, 6, 7]

In [89]:
# Find the second largest number in a list.
numbers = [1, 2, 3, 4, 5]
numbers.sort()
print(numbers[-2])

4

Nested Lists

In [93]:
# Access the second element of each sublist in a nested list.
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
second_elements=[sublist[1] for sublist in nested_list]
print(second_elements)

[2, 5, 8]

In [107]:
# Flatten a nested list into a single list.
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
# Transpose a 2D list (list of lists).
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
'''The * operator unpacks the rows of the matrix.
zip takes the first element from each row to create a tuple, then the second element, and so on.'''
transposed = [list(row) for row in zip(*matrix)]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [121]:
# Write a program to create a 3x3 matrix and print it.

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [131]:
# Check if a nested list contains a specific value.
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
value_to_check = 5

found = any(value_to_check in sublist for sublist in nested_list)

print(f"Value {value_to_check} found: {found}")

Value 5 found: True

In [133]:
my_list = [1, 2, 3, 4, 5, 6]

# Reverse sublist
reverse_list = my_list[::-1]
print(reverse_list)  

# Alternate elements
alternate_elements = my_list[::2]
print(alternate_elements)

[6, 5, 4, 3, 2, 1]
[1, 3, 5]



Applications

In [137]:
# Merge two sorted lists into one sorted list.
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merged_list = sorted(list1 + list2)
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [139]:
#Write a program to find the intersection of two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

intersection = list(set(list1) & set(list2))

print("Intersection:", intersection)

Intersection: [3, 4, 5]

In [149]:
#Find the union of two lists without duplicates.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union=list(set(list1+list2))
union

[1, 2, 3, 4, 5, 6, 7]

In [153]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
#filter(lambda x: condition, iterable)

intersection = list(filter(lambda x: x in list2, list1))

print("Intersection:", intersection)

Intersection: [3, 4, 5]

In [151]:
#Write a program to check if two lists are equal.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
if list1==list2:
    print("equaal")
else:
    print("not equal")

not equal

In [ ]:
#Create a list of Fibonacci numbers up to `n` terms.
n = 10
fibonacci = [0, 1]
while len(fibonacci) < n:  # Continue the loop until the length of the Fibonacci list reaches n
fibonacci.append(fibonacci[-1] + fibonacci[-2]) 
# Add the next Fibonacci number by summing the last two numbers in the list

print(fibonacci)


Special Challenges

In [1]:
#Find all sublists of a given list.
def find_sublists(lst):
    sublists=[[]]
    for i in range(len(lst)):             # Iterate through each index of the list
        for j in range(i+1,len(lst)+1):  # Iterate from (i+1) to the end of the list
            sublists.append(lst[i:j])    # Append the sublist from index i to j
    return sublists        


    
numbers=[1,2,3]
print(find_sublists(numbers))

[[], [1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

In [ ]:
#  Write a program to find all permutations of a list.
import itertools
numbers = [1, 2, 3]
permutations = list(itertools.permutations(numbers))
'''It returns an iterator of tuples, where each tuple is a permutation of the elements in numbers.So 
 by passing it to list(), we convert it into a list of tuples.'''
print(permutations)

In [9]:
#  Generate a list of prime numbers less than 50.

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [n for n in range(2, 50) if is_prime(n)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
'''# We check up to the square root of 'n' because factors larger than the square root would already have corresponding smaller factors.
# Adding +1 ensures we include the square root if it's an integer (e.g., 6 for n=36).
'''

In [7]:
# Write a program to shift all zeros in a list to the end, maintaining the order of other elements.

numbers = [1, 0, 3, 0, 5]
non_zeros = [n for n in numbers if n != 0]
zeros = [n for n in numbers if n == 0]
result = non_zeros + zeros
print(result)

[1, 3, 5, 0, 0]

In [11]:
# Split a list into two halves.

numbers = [1, 2, 3, 4, 5]
mid = len(numbers) // 2
first_half = numbers[:mid]
second_half = numbers[mid:]
print(first_half, second_half)

[1, 2] [3, 4, 5]


Sorting and Searching

In [13]:
# Sort a list of strings based on their lengths.
strings = ["apple", "banana", "cat", "dog", "elephant"]
sorted_strings=sorted(strings,key=len) #can sort the items in the list based on something other than the default behavior
print(sorted_strings)

['cat', 'dog', 'apple', 'banana', 'elephant']

In [23]:
# Sort based on the first character
sorted_strings = sorted(strings, key=lambda x: x[0])  
print(sorted_strings)

['apple', 'banana', 'cat', 'dog', 'elephant']

In [15]:
# Write a program to find the position of the first occurrence of a number in a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target_number=5
position=numbers.index(target_number)
print(position)

4

In [25]:
#  Use binary search to find an element in a sorted list.
def binary_search(sorted_list, target):
    low = 0
    high = len(sorted_list) - 1

    while low <= high:
        mid = (low + high) // 2  # Find the middle index
        if sorted_list[mid] == target:
            return mid  # Target found at index 'mid'
        elif sorted_list[mid] < target:
            low = mid + 1  # Search in the right half
        else:
            high = mid - 1  # Search in the left half

    return -1  # Target not found


sorted_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target = 5
position = binary_search(sorted_list, target)
print(position)

4

In [29]:
# Write a program to sort a list of tuples by the second element.tuples
tuples = [(1, 2), (3, 1), (2, 3), (4, 4)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])
print(sorted_tuples)

[(3, 1), (1, 2), (2, 3), (4, 4)]

String and List Interactions

In [33]:
#Split a string into a list of words.

sentence = "Hello World this is Python"
words = sentence.split()
print(words)

['Hello', 'World', 'this', 'is', 'Python']

In [41]:
#  Join a list of words into a single string separated by spaces
words = ["Hello", "World", "this", "is", "Python"]
sentence = "#  ".join(words)
print(sentence)

Hello#  World#  this#  is#  Python

In [51]:
#  Convert a list of integers to a single string (e.g., [1, 2, 3] -> '123')

numbers = [1, 2, 3]
string = "".join(map(str, numbers)) #notwork on no's
print(string)

123

In [45]:
#  Count the number of palindromes in a list of strings.
def is_palindrome(s):
    return s == s[::-1]

strings = ["radar", "hello", "level", "world"]
palindrome_count = sum(1 for s in strings if is_palindrome(s)) #"radar" is a palindrome â†’ Add 1.
print(palindrome_count)

2


Functions and Lists

In [55]:
# Write a function that takes a list as input and returns the largest number

def find_largest(numbers):
    return max(numbers)


numbers = [12, 45, 7, 23, 56, 89, 34]
print(find_largest(numbers))

89

In [57]:
# Implement a function that removes all negative numbers from a list.
def remove_negatives(numbers):
   return [n for n in numbers if n >= 0]

numbers = [12, -45, 7, -23, 56, -89, 34]
print(remove_negatives(numbers))

[12, 7, 56, 34]

In [61]:
# Write a function that takes a list and returns a dictionary with the frequency of each element.
def element_frequency(lst):
    frequency = {}
    for element in lst:
       if element in frequency:
          frequency[element] += 1
       else:
          frequency[element] = 1
    return frequency

numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(element_frequency(numbers)) 
'''We are trying to count how many times each element appears in the list and store this information in a dictionary, where:

The element itself is the key.
The number of occurrences of the element is the value.'''

{1: 1, 2: 2, 3: 3, 4: 4}

In [9]:
def char_frequency(s):
    frequency = {}  # Create an empty dictionary to store character frequencies
    for char in s:  # Loop through each character in the string
        if char in frequency:  # If the character is already a key in the dictionary
            frequency[char] += 1  # Increment its value by 1
        else:
            frequency[char] = 1  # Otherwise, add it with a value of 1
    return frequency  # Return the frequency dictionary

string = "hello world"  # Example string
print(char_frequency(string))  # Call the function and print the result

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}


Error Handling

In [3]:
#  Handle errors gracefully when accessing an index out of range in a list.

def access_index(lst, index):
    
    try:
       return lst[index]
    except IndexError:
           return "Index out of range"

numbers = [1, 2, 3]
print(access_index(numbers, 2))  
print(access_index(numbers, 5))

3
Index out of range

In [7]:
#  Handle exceptions when converting elements of a list to integers.

def convert_to_int(lst):
    result = []
    for element in lst:
       try:
          result.append(int(element))
       except ValueError:
            result.append("Invalid input")
    return result

mixed_list = ["1", "2", "three", "4", "five"]
print(convert_to_int(mixed_list))

[1, 2, 'Invalid input', 4, 'Invalid input']