
Basic Tuple Operations

In [1]:
# Create a tuple with 5 elements and print its length.
tup=(1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [3]:
# Access the first and last elements of a tuple.
print(tup[0])
print(tup[-1])

1
5

In [5]:
# Write a program to find the index of a specific element in a tuple.
print(tup.index(4))

3

In [9]:
#Check if a specific value exists in a tuple.
print(60 in tup)
print(4 in tup)

False
True

In [13]:
# Convert a list into a tuple and vice versa.
print(list(tup))
x=[1,2,3,4,5]
print(tuple(x))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)


Immutable Nature of Tuples

In [19]:
# Try modifying an element in a tuple and observe the error.
print(tup)
# print(tup[0]=8)-->raise error

(1, 2, 3, 4, 5)

In [21]:
#Write a program to create a new tuple by concatenating two existing tuples.
tuple1=(4,5,6,7)
tuple2=(14,15,16,17)
print(tuple1+tuple2)

(4, 5, 6, 7, 14, 15, 16, 17)

In [25]:
#Demonstrate how to delete an entire tuple.
del tup


Tuple Methods

In [33]:
# Count the occurrences of a specific element in a tuple.
tup=(1,2,3,4,4,5)
tup

(1, 2, 3, 4, 4, 5)

In [35]:
print(tup.count(4))

2

In [37]:
# Find the index of the first occurrence of an element in a tuple.
print(tup.index(2))

1


Tuple Unpacking

In [41]:
#Create a tuple `(1, 2, 3)` and unpack its values into three variables.
tupl1=(1,2,3)
x,y,z=tupl1
print(x)
print(y)
print(z)

1
2
3

In [43]:
# Use tuple unpacking to swap the values of two variables.
a = 5
b = 10
a, b = b, a
print(a, b)

10 5

In [55]:
# Unpack a tuple of unknown length using `*` syntax.
var1=(1,2,3,45,67,8,9)
x,y,*z=var1
print(x,y,z)

1 2 [3, 45, 67, 8, 9]


Nested Tuples

In [57]:
#Access elements from a nested tuple: `nested_tuple = ((1, 2), (3, 4), (5, 6))`.
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[0][1])

2

In [59]:
#Find the length of a nested tuple.
print(len(nested_tuple))

3


Tuple Comprehensions and Applications

In [61]:
# Create a tuple of squares for numbers 1 to 5 using a generator expression
square_tuple=[i**2 for i in range(0,6)]
print(square_tuple)

[0, 1, 4, 9, 16, 25]

In [63]:
#Create a tuple of Fibonacci numbers up to `n` terms.
def fibonacci(n):
    fib = (0, 1)
    for i in range(2, n):
        fib += (fib[-1] + fib[-2],)
    return fib

print(fibonacci(5))

(0, 1, 1, 2, 3)


Tuple and Dictionary Interactions

In [65]:
#Convert a tuple of key-value pairs into a dictionary.
pairs = (("name", "John"), ("age", 25))
my_dict = dict(pairs)
print(my_dict)

{'name': 'John', 'age': 25}

In [67]:
#Write a program to create a dictionary where keys are elements of a tuple, and values are their squares.
my_tuple = (1, 2, 3, 4)
my_dict = {x: x**2 for x in my_tuple}
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16}


Advanced Manipulations

In [73]:
#Merge two tuples into one and sort the result.
tuple1 = (3, 1, 4)
tuple2 = (2, 5)
merged = tuple1 + tuple2
sorted_tuple = tuple(sorted(merged))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [75]:
# Write a program to remove duplicates from a tuple.
my_tuple = (1, 2, 3, 2, 4, 1)
unique_tuple = tuple(set(my_tuple))
print(unique_tuple)

(1, 2, 3, 4)

In [77]:
#Find the maximum and minimum values in a tuple of integers.
my_tuple = (10, 20, 30, 5, 40)
print(max(my_tuple))  
print(min(my_tuple))

40
5

In [ ]:

Tuple Applications

In [83]:
#Write a program to create a tuple of even numbers from 1 to 20.
even_numbers = tuple(x for x in range(1, 21) if x % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [81]:
#Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
print(tuple1 == tuple2)

True

In [85]:
# Create a tuple of strings and find the longest string.
my_tuple = ("apple", "banana", "cherry")
longest_string = max(my_tuple, key=len)
print(longest_string)

banana



Special Challenges

In [87]:
#Create a tuple of all possible combinations from two tuples
tuple1 = (1, 2)
tuple2 = (3, 4)
combinations = tuple((x,y) for x in tuple1 for y in tuple2)
print(combinations)

((1, 3), (1, 4), (2, 3), (2, 4))

In [89]:
#Write a program to find the intersection of two tuples
tuple1 = (1, 2, 3)
tuple2 = (2, 3, 4)
intersection = tuple(x for x in tuple1 if x in tuple2)
print(intersection)

(2, 3)

In [95]:
# Find all tuples with a specific length in a list of tuples.
list_of_tuples = [(1, 2), (3, 4, 5), (6, 7, 8), (9, 10)]
result = [tup for tup in list_of_tuples if len(tup) == 3]
print(result)

[(3, 4, 5), (6, 7, 8)]


Functions and Tuples

In [93]:
#Write a function that takes a tuple as input and returns the sum of all elements.
def tuple_sum(tup):
    return sum(tup)

print(tuple_sum((1, 2, 3, 4)))

10

In [97]:
#Create a function to reverse a tuple.
def reverse_tuple(tup):
    return tup[::-1]

print(reverse_tuple((1, 2, 3)))

(3, 2, 1)

In [ ]:
#Write a function to find the product of all elements in a tuple.
def tuple_product(tup):
    result = 1
    for i in tup:
        result *= i
    return result

print(tuple_product((1, 2, 3, 4)))


Error Handling

In [99]:
# Handle errors gracefully when accessing an index out of range in a tuple.
my_tuple = (1, 2, 3)
try:
    print(my_tuple[5])
except IndexError as e:
    print("Error:", e)

Error: tuple index out of range

In [101]:
#Demonstrate how to handle exceptions when converting tuple elements to integers.
my_tuple = ("10", "20", "invalid")
for item in my_tuple:
    try:
        print(int(item))
    except ValueError as e:
        print(f"Error converting '{item}' to integer: {e}")

10
20
Error converting 'invalid' to integer: invalid literal for int() with base 10: 'invalid'