
Basic Set Operations

In [1]:
#Create a set with 5 unique numbers and print its length:
my_set = {1, 2, 3, 4, 5}
print(len(my_set))

5

In [5]:
#Add an element to an existing set:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [7]:
#Remove a specific element using remove and discard:

my_set.remove(3)  # Removes 3. Raises KeyError if not found.
my_set.discard(10)  # No error even if 10 is not in the set.
print(my_set)

{1, 2, 4, 5, 6}

In [9]:
#Clear all elements from a set:

my_set.clear()
print(my_set)

set()

In [17]:
my_set = {1, 2, 3, 4, 5}
print(5 in {1, 2, 3, 4, 5})  
print(2 in my_set)

True
True


Set Methods

In [21]:
#Union of two sets:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [23]:
#Intersection of two sets:
print(set1.intersection(set2))

{3}

In [25]:
#Difference between two sets
print(set1 - set2)

{1, 2}

In [27]:
#Symmetric difference of two sets
print(set1.symmetric_difference(set2))

{1, 2, 4, 5}

In [29]:
#Check if one set is a subset of another:
print(set1.issubset(set2))  # Output: False

False

In [33]:
#Check if one set is a superset of another:
print(set1.issuperset({2}))  # Output: True

True


Advanced Manipulations

In [35]:
#Convert a list with duplicates into a set
my_list = [1, 2, 2, 3, 4, 4]
print(set(my_list))

{1, 2, 3, 4}

In [37]:
#Find unique characters in a string:
string = "hello"
print(set(string))

{'l', 'o', 'e', 'h'}

In [39]:
#Find common elements between two sets of strings:
set_a = {"apple", "banana", "cherry"}
set_b = {"banana", "cherry", "date"}
print(set_a & set_b)

{'cherry', 'banana'}

In [53]:
#Set of squares for numbers from 1 to 10
squares = {x**2 for x in range(1, 11)}
print(squares)  #unordered collection 
sorted_squares = sorted(squares)
print(sorted_squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


Set Operations with Loops

In [49]:
#Iterate through a set and print each element:
for elem in {1, 2, 3}:
    print(elem)

1
2
3

In [51]:
#Filter out even numbers
numbers = {1, 2, 3, 4, 5, 6}
print({x for x in numbers if x % 2 != 0})

{1, 3, 5}

In [55]:
#Find all vowels in a sentence:
sentence = "This is a test sentence."
vowels = set("aeiou")
print(vowels & set(sentence.lower()))

{'a', 'e', 'i'}


Applications

In [59]:
#Union of three sets:
set1, set2, set3 = {1, 2}, {2, 3}, {3, 4}
print(set1 | set2 | set3)

{1, 2, 3, 4}

In [61]:
#Elements in one set but not another:
print(set1 - set2)

{1}

In [65]:
#Count unique words in a sentence:
sentence = "this is a test this is only a test"  #sentence.split() -->['this', 'is', 'a', 'test', 'this', 'is', 'only', 'a', 'test']

print(len(set(sentence.split())))

5

In [2]:
#Identify duplicate elements in a list:
my_list = [1, 2, 2, 3, 3, 4]
print(set(x for x in my_list if my_list.count(x) > 1)) 
#The count() method counts how many times x appears in my_list.

{2, 3}

In [69]:
#Students in both courses:
course1 = {"Alice", "Bob"}
course2 = {"Bob", "Charlie"}
print(course1 & course2)

{'Bob'}


Set and Mathematical Operations

In [71]:
#Cartesian product of two sets:
set1, set2 = {1, 2}, {3, 4}
print({(x, y) for x in set1 for y in set2})

{(2, 3), (2, 4), (1, 3), (1, 4)}

In [4]:
#Prime numbers less than 50:
print({x for x in range(2, 50) if all(x % y != 0 for y in range(2, int(x**0.5)+1))})

{2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}

In [6]:
#Check if two sets are disjoint:
print({1, 2}.isdisjoint({3, 4}))

True

In [8]:
#Divisors of a number:

num = 12
print({x for x in range(1, num + 1) if num % x == 0})

{1, 2, 3, 4, 6, 12}


Set and Dictionary Interactions

In [81]:
#Convert dictionary keys/values into a set:
my_dict = {'a': 1, 'b': 2}
print(set(my_dict.keys())) 
print(set(my_dict.values()))

{'b', 'a'}
{1, 2}

In [83]:
#Intersection of a set and dictionary keys:
keys_set = {'a', 'c'}
print(keys_set & set(my_dict.keys()))

{'a'}


Special Challenges

In [12]:
#Frozen set immutability:

frozen = frozenset([1, 2, 3])
#frozen.add(4)  # This will raise an AttributeError

In [14]:
#Union of multiple sets in a list:
sets = [{1, 2}, {2, 3}, {3, 4}]
print(set.union(*sets))

{1, 2, 3, 4}

In [16]:
#Generate random integers:
import random
print({random.randint(1, 100) for _ in range(5)})

{33, 8, 60, 28, 29}

In [46]:
#Find all subsets:
from itertools import chain, combinations

my_set = {1, 2, 3} 

# Generate all subsets using combinations for lengths 0 to len(my_set)
subsets = list(chain.from_iterable(combinations(my_set, r) for r in range(len(my_set) + 1)))

print(subsets)

[(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]


Functions and Sets

In [20]:
#Largest element in a set:

def largest(s):
    return max(s)
print(largest({1, 2, 3}))

3

In [22]:
#Remove negative numbers:
def remove_negatives(s):
    return {x for x in s if x >= 0}
print(remove_negatives({-1, 0, 1}))

{0, 1}

In [26]:
#Check if two sets are equal:

def are_equal(s1, s2):
    return s1 == s2
print(are_equal({1, 2}, {2, 1}))

True


Error Handling

In [30]:
#Handle errors for remove:
try:
    {1, 2}.remove(3)
except KeyError:
    print("Element not found.")

Element not found.

In [34]:
#Handle exceptions when converting elements:
try:
    s = {1, 'a', 3}
    converted = {int(x) for x in s}
except ValueError:
    print("Conversion failed.")

Conversion failed.

In [38]:
string = "hello"
print({x for x in string if string.count(x) > 1})  # Output: {'l'}

{'l'}

In [42]:
#Jaccard similarity coefficient:
set_a, set_b = {1, 2, 3}, {2, 3, 4}
jaccard = len(set_a & set_b) / len(set_a | set_b)
print(jaccard)

0.5